shutil
opencv-python  # Or a suitable version like opencv-python==4.5.1
math
random
numpy
datetime
tensorflow==2.12.1  # Or the appropriate version
keras==2.13.1  # Or the appropriate version
collections
matplotlib